.App {
  text-align: center;
}

.Label {
  display: inline-block;
  color: blue;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
